.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.menu {
  display: flex;
  margin: 1rem 0;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #fff;
  font-weight: 400;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  min-height: 5em;
}

.Bamboo-homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: -97px;
}

.Bamboo-personaldeatil {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: -97px;
}

.Bamboo-card-1 {
  flex: 1 1;
  display: flex;
  background: url("../../../public/assets/BaseBackground.png") no-repeat;
  background-size: cover;
  padding: 5.25em 4.375em 0 3.375em;
}

.images {
  width: 265px;
  height: 295px;
}

.Bamboo-card-2 {
  flex: 1 1;
  padding: 10.75em 7em 0 9em;
}

.Bamboo-pd-card-1 {
  flex: 1 ;
  background-size: cover;
  background: url("../../../public/assets/basebg.png");
}

.Bamboo-pd-card-2 {
  flex: 3;
}

.Bamboo-card-content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34.133px;
}

.Bamboo-card-header {
  font-family: "Eina01-SemiBold";
  font-feature-settings: "clig" off, "liga" off;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.117px;
  color: var(--light-text, #2b3034);
}

.Bamboo-card-welcome {
  color: var(--dark-grey-2, #8790a4);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Eina01-SemiBold";
  font-size: 17.067px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Bamboo-card-button-1 {
  width: 380.8px;
  height: 85.333px;
  flex-shrink: 0;
}

button.Bamboo-card-button-1-1 {
  border-radius: 5.333px;
  border: 1.067px solid #c6d0e9;
  background: #f5f8ff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  cursor: pointer;
}

button.Bamboo-card-button-1-2 {
  border-radius: 5.333px;
  border: 1.067px solid #c6d0e9;
  background: #f5f8ff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  cursor: pointer;
}

.Bamboo-card-button-1-2 {
  border-radius: 5.333px;
  border: 1.067px solid #c6d0e9;
  background: #f5f8ff;
  width: 100%;
  height: 100%;
}

.Bamboo-card-button-2 {
  width: 380.8px;
  height: 85.333px;
  flex-shrink: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 413px;
  margin-left: -251px;
  width: 571px;
  height: 119px;
}

.title-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.head {
  width: 1920px;
  height: 70px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}

.Bamboo-pd-card-content {
  display: flex;
  width: 660px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 700px;
  padding: 20px 60px 30px 65px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input-form-mobile {
  width: 360px;
  height: 52px;
}

.input-form-email {
  width: 360px;
  height: 52px;
}

.input-form-pan {
  width: 360px;
  height: 52px;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"] {
  -webkit-appearance: none;
  border-radius: 5px;
  -moz-appearance: none;
}

.input-box {
  box-sizing: border-box;
  accent-color: green;
  width: 24px;
  height: 24px;
}

.input-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #4fb645;
  color: #ffffff;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  font-weight: 400;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 2.285714rem;
}

.form-group-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bank-icon {
  position: relative;
  left: 757px;
  bottom: 308px;
}

